/* 
   Redford premier hockey league style sheet 
   Filename: content.css

   Author:   Kyle Martin
   Date:     3/26/18
   Final Project
 */
 
 /* reset styles */
 html {
 	   font-size: 20px;
 }
body, div, footer, header, h1, img, nav, p, h2, a, article, footer, aside, table, tr, th, form, fieldset, button, video {
   border: 0;
   padding: 0;
   margin: 0;
}
img, video {
   max-width: 100%;
   height: auto;
   width: auto;
}

/* full page image */
html {
	   background-image: url("ice.jpg");
	   background-size: cover;
}

/* body and page container */
body {
   font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
}
.header-nav-container {
   position: relative;
}
.article-aside-inner-container {
   max-width: 1000px;
   margin: 0 auto;
   overflow: auto;
   background-color: rgba(0,0,255,.7);
   border-left: 3px solid black;
   border-right: 3px solid black;
}

/* skip navigation link */
p.skipnavigation a {
   position: absolute;
   left: -10000px;
}
p.skipnavigation a:focus {
   border: 2px solid black;
   left: auto;
   right: 1em;
   top: 1em;
   background-color: white;
   color: black;
   z-index: 2;
}
/* header section */
header {
   max-width: 800px;
   margin: 0 auto;
   text-align: center;
   overflow: auto;
}
header h1 {
	margin-top: -0.6em;
	margin-bottom: .2em;
	color: white;
	font-size: 2.5em;
	text-shadow: -2px -2px 0 #000,
				  2px -2px 0 #000,
		         -2px 2px 0 #000,
		          2px 2px 0 #000;
}
header div img {
	max-width: 600px;
}

/* site navigation */
nav.sitenavigation {
   	max-width: 100%;
   	margin: 0 auto;
   	text-align: center;
   	background-color: rgba(255,0,0,0.7);
   	border-top: 2px solid black;
   	border-bottom: 2px solid black;
   	font-size: 1.2em;
}
nav.sitenavigation a {
	padding: 0.2em 0.5em;
	display: inline-block;
    border-radius: 7px;
    color: white;
}
nav.sitenavigation li {
    margin: 0.5em;
    border: 2px solid black;
    display: inline-block;
    background-color: rgb(194, 195, 196);
    font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;   
    border-radius: 10px;
    color: white;
    font-size: 1.1em;
    text-shadow:  -1px -1px 0 black,
				  1px -1px 0 black,
		         -1px 1px 0 black,
		          1px 1px 0 black;
}
nav.sitenavigation a:link {
    text-decoration: none;
}
nav.sitenavigation a:active {
   position: relative;
   top: 1px;
   left: 1px;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus {
   color: white;
   background-color: black;
   border-radius: 7px;
   margin: 0 auto;
}

/* main content */
article {
   width: 100%;
   height: 100%;
   padding-top: 2%;
   float: left;
   background-color: rgba(255,255,255,.8);
}
article h2 {
   margin: 2% 7% 0.6em;
   font-size: 1.6em;
   font-weight: bold;
   font-family: Verdana, Geneva, sans-serif;
   text-align: center;
}
#clinch {
	text-align: right;
	margin-right: 20em;
}
#entry {
	text-align: center;
}
article h3 {
	margin: 3% 5% 0.6em;
}
article p {
	padding: 1.0em 0.5em 1.0em 3.0em;
}
article div img {
	padding-left: 3.0em;
	max-width: 500px;
}
video {
	margin-left: 17em;
}
table,td,th {
	border: 2px solid black;
	border-collapse: collapse;
	width: 60%;
}
td,th {
	padding: .2em;
	text-align: left;
}
table {
	margin-left: 10em;
	margin-bottom: .2em;
}
span {
	color: red;
}
a.home {
	border: 2px solid black;
	padding: 0.3em;
	font-size: 1.3em;
	border-radius: 0.4em;
	background-color: red;
	margin-left: 15em;
	text-decoration: none;
}

/* form styles */
form {
	padding: 10px;
}
/* fieldset styles */
fieldset {
	margin-bottom: 0.8em;
	border: 0;
}
label {
	margin-left: 1em;
}
legend {
	font-size: 1.1em;
	font-weight: bold;
	font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
}
.contactinfo {
	border: 1px solid black;
}
.mailinglist {
	border: 1px solid black;
}
.contactinfo input {
	border: 1px solid black;
	font-size: 1em;
	left: 4.0em;
	max-width: 15em;
	position: absolute;
}
#cityinput {
	max-width: 7.5em;
}
#stateinput {
	max-width: 3.5em;
}
#zipinput {
	max-width: 5em;
}
#submit {
	border: 2px solid black;
	padding: 0.3em;
	font-size: 1.3em;
	border-radius: 0.4em;
	background-color: red;
	margin-left: 16em;
}

/* label styles */
label {
	font-size: 1.0em;
}
.contactinfo label {
	display: block;
	position: relative;
	margin-bottom: 0.5em;
}
.mailinglist label {
	margin-right: 1.6em;
}

/* footer section */
footer {
   padding: 0.6em;
   background-color: rgba(0,0,0, .9);
   color: white;
   text-align: center;
   clear: both;
}
footer p {
   margin: 0.4em;
}

/* print styles */
@media print {
   article, article h2, aside, body, footer, header, header h1 {
      color: rgb(0,0,0);
      background-color: rgb(255,255,255);
   }
   article {
      border-right: 4px solid black;
      width: 60.5%
   }
   body {
      max-width: 100%;
   }
   footer {
      border-top: 4px solid black;
   }
   header {
      border-bottom: 4px solid black;
   }
   nav {
      display: none;
   }
}
@page {
   margin: 1in;
}